@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="col-md-2">
            <img src="~/Content/siyaleader.png" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
            @if (Request.IsAuthenticated)
            {
                <h1>Welcome</h1>
                <p class="lead">You are logged in as <strong>@User.Identity.GetUserName()</strong></p>
            }
            else
            {
                <h1>Siyaleader iLend</h1>
                <p class="lead">Better visibility and management of stock levels within the business..</p>
            }
        </div>
    </div>
</div>

@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                The iLend is a great place to keep things in check. It helps the business to organise 
                and manage product information, and keep track of who is Accountable for a piece of equipment.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Managing business growth</h2>
            <p>
                As the internet continues to become a primary platform for conducting business, it can also be used 
                as a repositoty for records and data for accounting and business management purposes
                as the business grows.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Saving resources</h2>
            <p>
                For Convenience, storage capacity, and accessibility, documents no longer have to occupy yards of
                file space. With the rapidly evolving nature of Information Technology, the cloud is the new  
                extended file drawer.
            </p>
        </div>
    </div>
}