@model iLend.Models.Product

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Category: @Model.Category.Name</li>
    <li>Date Added: @Model.DateAdded</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>

