@model iLend.ViewModels.RandomProductViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Recipients.Count > 5 ? "Popular" : null;
}

<h2 class="@className">@Model.Product.Name</h2>
 
@if (Model.Recipients.Count == 0)
{
    <text>No One has borrowed this item before.</text>
}
else
{
    <ul>        
        @foreach (var recipient in Model.Recipients)
        {
            <li>@recipient.Name</li>
        }
    </ul>
}