@model iLend.Models.Recipient

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>User Group: @Model.UserGroup.Name</li>
    <li>BirthDate: @Model.BirthDate</li>
</ul>